@font-face {
    font-family: MrRobot;
    src: url(../../Assets/MR\ ROBOT.ttf);
}

@font-face {
    font-family: LilitaOne;
    src: url(../../Assets/LilitaOne-Regular.ttf);
}

@font-face {
    font-family: RobotoMono;
    src: url(../../Assets/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: Avengers;
    src: url(../../Assets/AvengeanceMightiestAvenger-837g.ttf);
}


/* Default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    background: url(../../Assets/background7.jpg);
    background-size: 100vw 100vh;
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.mainDiv {
    margin-top: 5rem;
    display: flex;
    width: 1000px;
    height: 600px;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    padding-top: 2em;
    font-family: RobotoMono;
    font-weight: 1000;
    border-radius: 18px;
    border: 4px solid #FFF;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(15px);
    box-shadow: 16px -10px 5px 0px rgba(255, 255, 255, 0.06);
    -webkit-box-shadow: 16px -10px 5px 0px rgba(255, 255, 255, 0.06);
    -moz-box-shadow: 16px -10px 5px 0px rgba(255, 255, 255, 0.06);

}




#welcomeText{
    margin-top: 2.5rem;
    color: #000000;
    font-size: 22px;
    font-weight: 1000;
    font-style:italic;
}




/* Navigation Button */

.nav-buttons{
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-right: 2rem;
    margin-top: 2.5rem;
}

.buttons {
    margin-top: 25px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.startGamebutton{
    background: #00FF0E;
        border: 1px solid #00FF0E;
}
.backButton{
        background: #ff0000;
            border: 1px solid #ff0000;
}

.backButton:hover,
.backButtontive {
    background-color: #000;
    background-position: 0 0;
    color: #ffffff;
        border: #000;
}

.backButton:active {
    opacity: .5;
}

.startGamebutton:hover{
    background-color: #ffffff;
    background-position: 0 0;
    color: #0e0f0f;
    border: #000;
}

.startGamebutton:active {
    opacity: .5;
}


/* Timer */

.headingandtimer{

    gap:10rem;
    justify-content: center;
    align-items: center;
    display: flex;
}
.timer{
    border-radius: 5px;
    font-weight: 400;
    align-self: flex-start;
    display: flex;
    height: 50px;
    justify-content: center;
    gap: 1rem;
    color: white;
    align-items: center;
    width: 240px;
    font-size: 30px;
    font-family: LilitaOne; 
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    box-shadow: 10px 10px 5px black;
}

.timer span{
    -webkit-text-stroke-width: 0px;
}

/* Typing Div */
.typingDiv {
    text-align: justify;
    padding-left: 3rem;
    padding-right: 3rem;
}
#typingtext{
    color:aliceblue;
    margin-top: 2.5rem;
    font-size: 22px;
    font-weight: 1000;
}


/* Home Page Button */
.button-31 {
    background-color: #ff0000;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: LilitaOne;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    max-width: none;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 9px;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 130px;
    position: absolute;
    z-index: 1;
    left: 2em;
    top: 1em;

}

.button-31:hover,
.button-31:focus {
    opacity: .75;
}