@font-face {
    font-family: MrRobot;
    src: url(./Assets/MR\ ROBOT.ttf);
}

@font-face {
    font-family: LilitaOne;
    src: url(./Assets/LilitaOne-Regular.ttf);
}


/* Default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    background: url(./Assets/Background.png);
    background-size: 100vw 100vh;
    display: flex;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
}

/* Heading and logo */
.heading {

    margin-top: 7rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    width: 52.938rem;
    height: 16.563rem;
    flex-shrink: 0;
}

.heading #title {
    color: #FFF;
    font-family: MrRobot;
    font-size: 8.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.heading:hover {
    transform: scale(1.1);
    transition: transform 0.1s;
}

/* Name Input */
.name-input-div {
    margin-top: 3.5em;
}

#nameInputField {
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    font-family: LilitaOne;
    line-height: normal;
    border-radius: 5px;
    background: #ffffff00;
    width: 38.004rem;
    color: #FFF;
    border: solid #ffffff5e;
    height: 6.063rem;
    flex-shrink: 0;
}

#video-background {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nameinput-field::placeholder {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 50px;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-family: LilitaOne;
    line-height: normal;
}

#nameInputField:focus {
    transform: scale(1.2);
    transition: transform 0.1s;
}

/* Play Button */
#playButton {
    height: 60px;
    cursor: pointer;
    margin-top: 3.5em;
    transition: transform 0.1s;
}

#playButton:hover {
    transform: scale(1.2);
}





/* Mobile Responsive */
/* Set landscape orientation for screens up to a certain width (adjust the max-width as needed) */
@media (max-width: 852px) {


    /*landscape orientation */
    body {
        width: 100vh;
        height: 100vw;
        overflow-x: hidden;
        padding-left: 50%;
        align-items: center;
        justify-content: flex-start;
    }

    #video-background {
        width: 100vw;
        height: 100vh;
    }

    .heading {

        margin-top: -3rem;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        display: flex;
        width: 25rem;
        height: 16.563rem;
        flex-shrink: 0;
    }

    .heading #title {
        color: #FFF;
        font-family: MrRobot;
        font-size: 4.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .name-input-div {
        margin-top: 0em;
    }

    #nameInputField {
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        font-family: LilitaOne;
        line-height: normal;
        border-radius: 5px;
        background: #ffffff00;
        width: 25rem;
        color: #FFF;
        border: solid #ffffff5e;
        height: 3.063rem;
        flex-shrink: 0;
    }

    /* Play Button */
    #playButton {
        height: 40px;
        cursor: pointer;
        margin-top: 2.5em;
        transition: transform 0.1s;
    }

}