@font-face {
    font-family: MrRobot;
    src: url(../../Assets/MR\ ROBOT.ttf);
}

@font-face {
    font-family: LilitaOne;
    src: url(../../Assets/LilitaOne-Regular.ttf);
}

@font-face {
    font-family: RobotoMono;
    src: url(../../Assets/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: Avengers;
    src: url(../../Assets/AvengeanceMightiestAvenger-837g.ttf);
}


/* Default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    background: url(../../Assets/background7.jpg);
    background-size: 100vw 100vh;
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.instructionDiv{
    margin-top: 5rem;
    display: flex;
    width: 1000px;
    height: 600px;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    padding-top: 2em;
    font-family: RobotoMono;
    font-weight: 1000;
    border-radius: 18px;
    border: 4px solid #FFF;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(15px);
    box-shadow: 16px -10px 5px 0px rgba(255, 255, 255, 0.06);
    -webkit-box-shadow: 16px -10px 5px 0px rgba(255, 255, 255, 0.06);
    -moz-box-shadow: 16px -10px 5px 0px rgba(255, 255, 255, 0.06);

}


.instructionDiv h1{
    font-family: Avengers;
    color: #FFF;
    font-weight: 900;
    padding-left: 0.4em;
    padding-right: 0.3em;
    padding-top: 0.3em;
    text-shadow: 20 20 20px black;
    -webkit-text-stroke-width: 2px;
    border-radius: 5px;
    -webkit-text-stroke-color: black;
    box-shadow: 10px 10px 5px black;
}


.instructionDiv p:first-of-type {
    padding-top: 4rem;
    color: #ffffff;
    font-size: 22px;
}
.instructionDiv p:last-of-type {
    margin-top: -2.4rem;
    font-weight: 1000;
}


.instructions{
    margin-top: -1.5rem;
    font-family: RobotoMono;
    line-height: 3;
    color: white;
    padding-left: 5em;
    font-size: 18px;
}

.instructions span{
    color: #00FF0E;
    
}


.backButton {
    margin-top: 25px;
    background: #ff0000;
    border: 1px solid #ff0000;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.backButton:hover,
.backButtontive {
    background-color: initial;
    background-position: 0 0;
    color: #ff0000;
}

.backButton:active {
    opacity: .5;
}