@font-face {
    font-family: MrRobot;
    src: url(../../Assets/MR\ ROBOT.ttf);
}

@font-face {
    font-family: LilitaOne;
    src: url(../../Assets/LilitaOne-Regular.ttf);
}

@font-face {
    font-family: RobotoMono;
    src: url(../../Assets/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: Avengers;
    src: url(../../Assets/AvengeanceMightiestAvenger-837g.ttf);
}
/* Default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    background: url(../../Assets/background2.png);
    background-size: 100vw 100vh;
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
}


/* Main */
.main{
    display: flex;  
    width: 100vw;
    height: 100%;
    gap: 18%;
}

/* Left Side Menu */

.stack1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    margin-left: 16rem;
}

.stack1 h2{
    color: #FFF;
        text-align: center;
        font-family: LilitaOne;
        font-size: 45px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}


/* Main Menu */
.menu{
    margin-top: 1.5rem;
    font-family: LilitaOne;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    width: 27rem;
    height: 33.00rem;
    align-items: center;
    padding-top: 3em;
    flex-shrink: 0;
    border-radius: 45px;
    border: 5px solid #FFF;
    background: rgba(0, 0, 0, 0.13);
    backdrop-filter: blur(8.5px);
    box-shadow: rgba(255, 255, 255, 0.4) -5px 5px, rgba(255, 255, 255, 0.3) -10px 10px, rgba(255, 255, 255, 0.2) -15px 15px, rgba(255, 255, 255, 0.1) -20px 20px, rgba(255, 255, 255, 0.05) -25px 25px;
    
}


.menu button{
    border-radius: 10px;
    border: solid transparent;
    font-family: LilitaOne;
    width: 28em;
    height: 5em;
    flex-shrink: 0;
}

.menu button h3{
    font-size: 35px;
}

.menu button:hover{
    background-color: #F00;
    color: #FFF;
    transform: scale(1.05);
    transition: transform 0.1s;
}

/* Score Board */
.stack2 {
    margin-top: 39px;
}

.alltimebest {
    font-family: LilitaOne;
    width: 444px;
    height: 239px;
    justify-content: center;
    align-items: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: #ffff;
    gap: 1em;
    display: flex;
    font-size: large;
    flex-direction: column;
    flex-shrink: 0;
    border-radius: 45px;
    border: 5px solid #FFF;
    background: rgba(0, 0, 0, 0.13);
    backdrop-filter: blur(8.5px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        
}

/* scores */

.scores {
    display: flex;
    gap: 2em;
    flex-direction: row;
}

.green{
    background-color: #84DD63;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    display: flex;
    color: #84DD63;
    justify-content: center;
    align-items: center;
}

.blue{
    background-color: #00C3FF;
        border-radius: 50%;
        width: 140px;
        height: 140px;
        color: #00C3FF;
        display: flex;
        justify-content: center;
        align-items: center;
}

.white{
    display: flex;
    background-color: white;
    width: 100px;
    -webkit-text-stroke-width: 0px;
    height: 100px;
    font-size: 27px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;}

.accuracydiv,.speeddiv{
    height: 180px;
    text-align: center;


}

.accuracydiv p, .speeddiv p{
    margin-top: 1rem;
}

marquee {
    position: absolute;
    font-size: 22px;
    top: 96vh;
    font-family: Avengers;
    background-color: red;
    color: white;
    text-align: center;
    height: 30px;
    padding-top: 5px; 
}
.marquee-text {
    position: absolute;
    top: 0;
    left: 0;

    animation: infinite-slide 30s linear infinite;
}
@keyframes infinite-slide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }}